---
layout: home
title: Delly's Publisher
tagline: Personal Article Publishing Blog
---
{% include JB/setup %}

<div class="hero-unit">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span8">
	    	<h2>{{ site.title }} {% if page.tagline %}</h2> 
	    	<p><small>{{ site.tagline }}</small>{% endif %}</p>
	    	<br>

	    	<p>
			    <a class="weibo" href="{{ site.author.weibo }}" title="新浪微博" target="_blank"><i class="fa fa-weibo"></i></a>
			    <a class="facebook" href="{{ site.author.facebook }}" title="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
			    <a class="github" href="{{ site.author.github }}" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
			    <a class="rss" href="/rss.xml" title="RSS订阅" target="_blank"><i class="fa fa-rss"></i></a>
			    
  			</p>
	    </div>
	    <div class="span4">
	      <img src="assets/images/avator.jpg" class="img-circle">
	  	</div>
	  </div>
	</div>
</div>

<ul class="posts">
	{% for post in paginator.posts %}
	    <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>

		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="javascript:;" data-toggle="tab" class="label">{{ post.date | date_to_string }}</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
		      <p>
		      	{{ post.excerpt }}
		      	<a class="btn btn-primary" href="{{ BASE_PATH }}{{ post.url }}">Read More...</a>
		      </p>
		    </div>
		  </div>
		</div>

	    <hr>
	    <br>
	{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination pagination-centered">
<ul>
	{% if paginator.previous_page %}
		<li class="prev">
    {% else %}
    	<li class="prev disabled">
	{% endif %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
			<span aria-hidden="true">&laquo; 上一页</span>
    	</a>
    	</li>

	{% for page in (1..paginator.total_pages) %}
		<li>
	    {% if page == paginator.page %}
	      <span class="active">{{ page }}</span>
	    {% elsif page == 1 %}
	      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	    {% endif %}
	    </li>
	{% endfor %}
<li>

	{% if paginator.next_page %}
		<li class="next">
    {% else %}
    	<li class="next disabled">
	{% endif %}
	    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a>
	</li>
</ul>
</div>

{% endif %}
